.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
