button {
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 40px;
  display: block;
}

.board-row,
.game {
  display: flex;
}

.game {
  gap: 10%;
}

.game-info button {
  font-size: 15px;
  width: 150px;
  height: 30px;
  margin: 10px;
}

.game-info {
  margin-top: 50px;
}

.status {
  font-size: 30px;
  margin: 10px;
  color: red;
  font-weight: bold;
}
