button {
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 40px;
  display: block;
}

.board-row {
  display: flex;
}

.status {
  font-size: 30px;
  margin: 10px;
  color: brown;
  font-weight: bold;
}
